
.cotainer {
  text-align:center;
  margin: 0 auto ;
  font-weight: 300;

}
#container {
  text-align: center;
  margin-top: 0.1em;
  margin-right: 22em;
  margin-left: 22em;
  background-color: rgba(22, 159, 201, 0.719);
  border-radius: 50px;
}


#tituloPrincipal {
  color: black;
  font-style: unset;
  font-size: 1.1cm;
  transition: ease-in-out .25s;
  text-decoration: seashell;
  font: 600;
}

body {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: black;
} 

.titulosTablas {
  align-content: flex-end;
  font-size: 1.1cm;
  color: rgb(255, 255, 255);
}
.searchButton {
  cursor: pointer;
  margin-top: 1cm;
  transition: 0.25s ease-in-out;
  width: 10;
  height: 40px;
  font-size: 20px;
  color:rgb(0, 0, 0);
  background-color: rgb(30, 185, 69);
  border-radius: 20px;
  outline: none;
}

.searchButton:hover {
  color: rgb(255, 251, 23);
}

img {
  border: 2px solid rgb(26, 72, 131);
  border-radius: 10px;
  opacity: 0.5;
  transition: 0.25s ease-in-out;
  width: 150;
  height: 150px;
}

img:hover {
  opacity: 1;
  cursor: pointer;
}
table{
  margin-left: 2cm;
  text-align: center;
  border: 20px solid #000;
  padding: 20px;
  width: 1000px;
  height: 500px;
  align-items: baseline;
  border-color: rgb(0, 0, 0);
  color: rgba(22, 159, 201, 0.719);
  
}

btn-atras{
  size: 20cm;
  
}
  /*
.dat {
  color: aqua;
}

th, td {
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  padding: 4px;
  border-color: black;
  color: rgb(255, 245, 245);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
.overlay {  
  background: rgba(146, 15, 15, 0.3);
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
   visibility: hidden;   
  }
  .overlay.active {
  visibility: visible;
  }
  
  
  .popup {
  background-color: rgb(223, 32, 32);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  width: 630px;
  height: 430px;
  transition: .4s ease all;
  transform: scale(0.7);
  opacity: 0;
  }
  
  .popup .btn-cerrar-popup {
  font-size: 30px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: .3s ease all;
  color: rgb(255, 255, 255);
  
  }
  
  .popup .btn-cerrar-popup:hover {
  color: rgb(255, 255, 255);
  } 
  
  .popup h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
  
  }
  .popup h3 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
  }
  
  p { display:inline; }
  
  p{
    opacity: 0;
    
  }
  
  .titulosDetalles{
    color: white;
  }
  
  
  .popup.active {opacity: 1; transform: scale(1);}
  .popup.active h1 { animation: entradaTitulo .8s ease .5s forwards; }
  .popup.active h3 { animation: entradaSubtitulo .8s ease .5s forwards; }
  .popup.active p { animation: entradaSubtitulo .8s ease .5s forwards; }
  
  
  @keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
  }
  
  @keyframes entradaSubtitulo {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  */

  footer{
    clear: both;
    display: block;
    position: absolute bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(138, 131, 131, 0.692);
    text-align: center;
  }